* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background: linear-gradient(to bottom right, rgb(176, 194, 255), #5c21bb);
  color: white;
  height: 70px;
}

.navbar .logo {
  padding-left: 20px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Great Vibes';
}

.navbar .appbtn {
  cursor: url('./images/handcursor.svg'), auto;
  margin-right: 60px;
  background-image: linear-gradient(to bottom, cyan, rgb(115, 152, 255),rgb(64, 217, 255));
  font-family: 'Montserrat';
  width: 120px;
  height: 50px;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
}

.navbar .appbtn:hover {
  background-image: linear-gradient(to bottom, rgb(0, 231, 231), rgb(96, 130, 221),rgb(59, 199, 235));
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.navbar a:hover {
  color: rgb(129, 255, 249);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  width: 380px;
  justify-content: center;
}

.navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  width: 140px;
  height: 30px;
}

.header {
  background: linear-gradient(to bottom right, #fffd7a, rgb(201, 49, 107));
  color: white;
  min-height: 600px;
}

.header h1 {
  font-size: 7rem;
  color: white;
  line-height: 1.2;
  font-family: 'Sacramento';
}


.header .container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h5 {
  font-size: 1.5rem;
  padding-left: 20px;
  margin-bottom: 10px;
  font-family: 'Sacramento';
}

.header .hero {
  margin-top: 80px;
  padding-left: 30px;
  animation: heading;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

.headimg {
  position: relative;
  margin-left: 10px;
  margin-top: 30px;
  background-image: url('./images/headbg.png');
  min-width: 700px;
  min-height: 480px;
  animation: headerimg;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes headerimg {
  0% {top: -150px;}
  100% {top: 0px;}
}

@keyframes heading {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.giftlist {
  background-image: linear-gradient(to bottom right, rgb(255, 0, 128), #dd60ad, #77ffa4, #42dbe0, #ff62f7e3, rgb(255, 45, 115));
  padding: 80px 0px;
  padding-bottom: 120px;
  animation: bg-move 30s infinite alternate;
  background-size: 400%;
}

.alldata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to bottom right, rgb(7, 146, 146), rgb(223, 207, 67)); */
  background: transparent;
  border: 3px solid white;
  width: 1000px;
  height: 400px;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px black;
}

.giftedamounts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.giftedamountshead {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.giftedamountsdata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.giftedamountdataline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 66px;
}

.homedatalabel {
  color: white;
  font-family: 'Montserrat';
  font-size: 40px;
  min-width: 50%;
}

.homedatavalue {
  color: white;
  font-family: 'Montserrat';
  font-size: 54px;
  font-weight: bold;
}

.totalgifts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.totalgiftshead {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Montserrat';
}

.totalgiftsdata {
  color: white;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  font-family: 'Montserrat';
  height: 183px;
}

@keyframes bg-move {
  0% {background-position: left;}
  100% {background-position: right;}
}

.giftlist .container{
  margin: auto;
  border-radius: 20px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.giftheading {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  color: white;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

.giftheading .gftheader {
  font-size: 80px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.giftheading .gftdesc {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  width: 800px;
}

.topgifts {
  display: flex;
  /* background-image: linear-gradient(to bottom, rgb(253, 62, 243), rgb(252, 252, 252), rgb(255, 136, 136)); */
  background-image: url('./images/topgifts.png');
  margin: 10px 0px;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 5px;
  border: 3px solid white;
  min-width: 1160px;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: 120px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.671);
}

.dailygifts {
  display: flex;
  /* background: linear-gradient(to bottom, rgb(170, 96, 255), rgb(252, 252, 252), rgb(109, 238, 255)); */
  background-image: url('./images/dailygifts.png');
  margin: 10px 0px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 3px solid white;
  min-width: 1160px;
  height: 563px;;
  /* min-height: 330px; */
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.651);
}


.title {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: "Allura";
}

.gifts {
  display: flex;
  padding: 20px 18px 20px 18px;
  align-items: center;
  flex-wrap: wrap;
  min-width: 800px;
  min-height: 160px;
}

.topgifts .gifts {
  max-height: 510px;
  justify-content: center;
}

.dailygifts .gifts {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
}

.recentGiftsLine {
  display: flex;
  flex-wrap: wrap;
  height: 176px;
  width: 1061px;
}

.pagination {
  display: flex;
  margin: 0px auto;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Montserrat';
}

i {
  margin: 0px 10px;
}

.pagination .pagelabel {
  cursor: url('./images/handcursor.svg'), auto;
  border: 2px solid white;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 174, 255, 0.781), rgba(0, 217, 255, 0.76));
  border-radius: 3px;
  margin: 10px 10px;
  font-size: 16px;
  width: 80px;
  height: 35px;
  font-weight: bold;
  padding: 0px 5px;
  box-shadow: -1px -1px 10px rgba(4, 0, 255, 0.384) inset;
}

.nums {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

.pagenum {
  cursor: url('./images/handcursor.svg'), auto;
  background-image: linear-gradient(to bottom, rgba(255, 85, 255, 0.438), rgba(255, 123, 233, 0.808));
  text-align: center;
  border: 2px solid white;
  font-family: 'Montserrat';
  color: white;
  width: 40px;
  height: 33px;
  font-weight: bold;
  box-shadow: -1px -1px 20px rgba(255, 0, 0, 0.493) inset;
}

.pagenum:hover {
  background-image: linear-gradient(to bottom, rgb(225, 0, 255), rgba(255, 77, 175, 0.808));
}

.active {
  cursor: url('./images/handcursor.svg'), auto;
  background-image: linear-gradient(to bottom, rgba(123, 255, 163, 0.808), rgba(0, 190, 117, 0.781));
  text-align: center;
  border: 2px solid white;
  font-family: 'Montserrat';
  color: white;
  width: 40px;
  height: 33px;
  font-weight: bold;
  box-shadow: -1px -1px 20px rgba(82, 223, 0, 0.822) inset;
}

.active:hover {
  background-image: linear-gradient(to bottom, rgba(66, 177, 44, 0.836), rgb(160, 184, 21));
}

.dots {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 5px;
}

.dotsleft {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 5px;
}

.dot {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 30px;
}

.pagelabel:hover {
  background-image: linear-gradient(to bottom, rgba(80, 31, 255, 0.801), rgba(0, 217, 255, 0.76));
}

.pagelabel:active {
  background-image: linear-gradient(to bottom, rgba(39, 0, 180, 0.863), rgba(0, 171, 201, 0.76));
}

.footer {
  background: linear-gradient(to bottom right, rgb(252, 200, 57),rgb(233, 98, 143));
}

.footer .container {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footdesc {
  color: white;
  font-family: Great Vibes;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.foothead {
  color: white;
  margin-top: 30px;
  font-family: 'Allura';
  font-size: 45px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  justify-content: center;
  text-align: center;
}

.foothead .andtxt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 30px;
}