* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: rgba(226, 226, 226, 0.774);
}

.dappcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.giftstables {
    background-image: linear-gradient(to bottom right,rgb(255, 5, 142), rgba(252, 255, 92, 0.904));
}

.giftstables .dappcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    height: 400px;
    border: 3px solid white;
    margin: 20px 20px;
    width: 320px;
    height: 480px;
    border-radius: 2px;
    background-image: url('./../../images/tables.png');
    box-shadow: -6px -2px 20px rgba(0, 0, 0, 0.459);
}

.tableheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
}

.tabletitle {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
}

.tableinfo {
    color: white;
    font-family: 'Allura';
    text-align: center;
    font-size: 18px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    margin-bottom: 0px;
    align-items: center;
}

.oops {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
}

.listitem {
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding: 0px 0;
    margin: 5px 0px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.76) inset;
}

.itemline {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.linelabel {
    color: white;
    min-width: 65px;
    font-size: 20px;
    font-family: "Great Vibes";
}

.linedata {
    word-wrap: break-word;
    font-style: italic;
    color: white;
    max-width: 195px;
    font-family: "Montserrat";
    font-size: 13px;
}

.lineamtdata {
    word-wrap: break-word;
    font-style: italic;
    color: white;
    font-weight: bold;
    max-width: 195px;
    font-family: "Montserrat";
    font-size: 12px;
}

.recorddate {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(230, 230, 230);
    margin-right: 70px;
}

.datelabel {
    margin-right: 3px;
    font-size: 14px;
    font-style: italic;
    padding-top: 5px;
}

.date {
    font-style: italic;
    font-size: 12px;
    padding-top: 5px;
    width: 82px;
}

.detailbtn {
    cursor: url('./../../images/handcursor.svg'), auto;
    background: url('./../../images/arrow.png');
    width: 15px;
    height: 10px;
}

.detailbtnlabel {
    color: white;
    font-family: 'Montserrat';
    font-size: 12px;
    margin-right: 5px;
}

.detail {
    background: transparent;
    border: none;
}

.sendgift {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 500px;
    border: 1px solid white;
    background-position: right;
    background-image: url('./../../images/sendgift.png');
    box-shadow: -6px -2px 10px rgba(0, 0, 0, 0.459);
}

.cardheading {
    color: white;
    font-family: "Allura";
    font-size: 80px;
}

.card {
    width: 450px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardline {
    margin: 5px 0px;
}

.cardlinelabel {
    margin: 2px 0;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
}

.cardlineinput {
    width: 380px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px 8px;
    font-family: 'Montserrat';
    color: white;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
}

.cardlinemsginput {
    width: 380px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid white;
    overflow: hidden;
    resize: none;
    font-weight: bold;
    padding: 2px 8px;
    color: white;
    padding: 10px 10px;
    font-family: 'Montserrat';
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.1);
}

.cardlineamtinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Montserrat';
    color: white;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
}

.amountinput {
    display: flex;
    font-family: 'Montserrat';
    color: white;
    font-style: italic;
    font-weight: bold;
    align-items: center;
    width: 280px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.amountinput:focus {
    border: 1px solid white;
    border-right: 2px solid white;
}

.gifttokenlabel {
    font-size: 14px;
    display: flex;
    justify-content: center;
    display: flex;
    min-width: 100px;
}

.sendbtn {
    cursor: url('./../../images/handcursor.svg'), auto;
    margin: 10px auto;
    margin-top: 20px;
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid white;
    background: tra;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(255, 93, 147), rgb(255, 0, 13));
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.sendbtn:hover {
    background: linear-gradient(to bottom, rgb(180, 12, 138), rgb(255, 113, 144));
}

.sendbtn:active {
    background: linear-gradient(to bottom, red, white);
}


.dapppagination {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'Montserrat';
  }
  
  i {
    cursor: url('./../../images/handcursor.svg'), auto;
    margin: 0px 5px;
  }
  
.dapppagelabel {
    cursor: url('./../../images/handcursor.svg'), auto;
    border: 2px solid white;
    color: white;
    background: transparent;
    border-radius: 10px;
    margin: 0 10px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    padding: 0px 5px;
    box-shadow: -1px -1px 10px rgba(255, 123, 0, 0.384) inset;
  }
  
  .dappnums {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dapppagenum {
    cursor: url('./../../images/handcursor.svg'), auto;
    background: transparent;
    text-align: center;
    border: 2px solid white;
    font-family: 'Montserrat';
    margin: 0px 2px;
    color: white;
    border-radius: 10px;
    width: 35px;
    height: 33px;
    font-weight: bold;
  }
  
  .dapppagenum:hover {
    background-image: linear-gradient(to bottom, rgb(255, 82, 82), rgba(255, 193, 227, 0.808));
  }
  
  .dappnumactive {
    cursor: url('./../../images/handcursor.svg'), auto;
    background-image: linear-gradient(to bottom, rgba(196, 19, 19, 0.774), rgba(255, 158, 79, 0.781));
    text-align: center;
    border: 2px solid white;
    font-family: 'Montserrat';
    margin: 0 2px;
    color: white;
    border-radius: 10px;
    width: 35px;
    height: 33px;
    font-weight: bold;
  }
  
  .dappnumactive:hover {
    background-image: linear-gradient(to bottom, rgba(209, 0, 0, 0.959), rgba(255, 208, 79, 0.781));
  }
  
  .dappdots {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 5px;
  }
  
  .dappdotsleft {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5px;
  }
  
  .dappdot {
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 30px;
  }
  
  .dapppagelabel:hover {
    background-image: linear-gradient(to bottom, rgb(255, 82, 82), rgba(255, 193, 227, 0.808));
  }

  .dapppagelabel:active {
    background-image: linear-gradient(to bottom, rgba(196, 19, 19, 0.774), rgba(255, 158, 79, 0.781));
  }


  .detailmodal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  
  .detailmodal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(255, 192, 110), rgb(199, 43, 43));
    margin: 8% auto;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px 30px;
    width: 50%; 
    height: 65%;
  }

  .detailmodalhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
  }

  .detailmodalcross {
    cursor: url('./../../images/handcursor.svg'), auto;
    font-size: 35px;
    background: transparent;
    border: 0px;
    color: white;
  }

  .detailmodalheading {
      font-size: 20px;
      padding-left: 15px;
  }

  .detailmodalgiftdetails {
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.192), rgba(255, 247, 209, 0.822));
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 600px; 
    height: 320px;
  }

  .detailline {
      display: flex;
      margin: 5px 0px;
      padding: 5px 10px;
      color: white;
      font-family: 'Montserrat';
  }

  .detaillabel {
      width: 100px;
      font-weight: bold;
      font-size: 16px;
  }

  .detailvalue {
      width: 430px;
      word-wrap: break-word;
  }

  .detailmsgvalue {
      width: 360px;
      height: 80px;
  }
  
  a {
      color: rgb(255, 255, 255);
      cursor: url('./../../images/handcursor.svg'), auto;
  }

  a:hover {
      color: rgb(255, 72, 0);
  }
