* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dappcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.dappheader {
    background-image: linear-gradient(to bottom , rgb(255, 234, 115), rgb(168, 0, 84));
}

.dappheader .logo {
    padding-left: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Great Vibes';
  }

.dappheader .dappcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.dappheader .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connectbtn {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 20px;
    background: transparent;
    padding: 0px 10px;
    width: 180px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
}

.connectbtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.dappheader .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .box {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(to bottom, rgb(0, 189, 202), rgba(197, 255, 255, 0)); */
    box-shadow: 3px 3px 20px rgb(255, 255, 255) inset;
    border-radius: 10px;
    margin: 30px 20px;
    width: 300px;
    height: 150px;
}

.details .boxtitle {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    align-items: center;
    margin: 18px;
}

.dataline {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 3px 0px;
}

.datalabel {
    min-width: 180px;
}

.datavalue {
    font-weight: bold;
}

.details .box .data {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    max-width: 280px;
    max-height: 150px;
    padding: 2px 0px;
}

.details .box .loading {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';
    align-items: center;
    margin: 20px;    
}

.details .box .value {
    font-style: italic;
}


.plsconnectwallet {
    display: flex;
    color: white;
    font-family: 'Montserrat';
    margin: auto;
    background-image: linear-gradient(to bottom right,rgb(255, 65, 154), rgb(194, 192, 79), rgb(107, 20, 35));
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 340px;
}

.info {
    background-color: rgba(175, 243, 255, 0.24);
    /* box-shadow: 5px 5px 50px rgb(25, 0, 255) inset; */
    border-radius: 5px;
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headinfo {
    font-size: 22px;
    margin: 10px 0px;
    font-weight: bold;
}

.subinfo {
    color: rgba(240, 248, 255, 0.822);
    font-size: 14px;
}