* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dappcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.dappheader {
    background-image: linear-gradient(to bottom , rgb(51, 202, 182), rgba(7, 0, 110, 0.87));
}

.dappheader .logo {
    padding-left: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Great Vibes';
  }

.dappheader .dappcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.dappheader .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10 50px;
}

.connectbtn {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 20px;
    background: transparent;
    padding: 0px 10px;
    width: 180px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
}

.connectbtn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.dappheader .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .box {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.644), rgba(197, 255, 255, 0.295));
    border-radius: 10px;
    margin: 30px 20px;
    width: 300px;
    height: 150px;
}

.details .boxtitle {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    align-items: center;
    margin: 15px;
}

.details .box .data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    max-width: 280px;
    max-height: 150px;
    padding: 10px 10px;
}

