.topgift {
    position: relative;
    top: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 25px;
    padding: 0px 20px;
    padding-top: 30px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: top 0.25s ease-out;
  }

  .topgiftline {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .topgift:hover {
    top: -10px;
  }

  .topgiftlabel {
    font-size: 28px;
    min-width: 80px;
  }

  .topgiftdata {
    word-wrap: break-word;
    font-style: italic;
    font-family: 'Montserrat';
    font-size: 14px;
    max-width: 185px;
  }

  .topgiftdate {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tgdatelabel {
    margin-left: 160px;
    font-size: 14px;
    color: rgb(235, 235, 235);
  }

  .topgift {
    width:300px;
    background-image: url('./../../images/gift.png');
    height: 180px;
    box-shadow: 10px 10px 15px rgb(114, 11, 68);
    font-family: 'Great Vibes';
    color: white;
  }