* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dappcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.dappheader {
    background-image: linear-gradient(to bottom , rgb(51, 202, 182), rgba(7, 0, 110, 0.87));
}

.dappheader .logo {
    padding-left: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Great Vibes';
  }

.dappheader .dappcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.dappheader .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10 50px;
}

.connectbtn {
    cursor: pointer;
    margin: 0px 20px;
    background: transparent;
    width: 180px;
    height: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border: 2px solid white;
    color: white;
}

.connectbtn:hover {
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
}

.dappheader .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .box {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.644), rgba(197, 255, 255, 0.295));
    border-radius: 10px;
    margin: 30px 20px;
    width: 300px;
    height: 150px;
}

.details .boxtitle {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    align-items: center;
    margin: 20px;
}

.details .box .data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    margin: 20px 10px;
}

.giftstables {
    background-image: linear-gradient(to bottom right, rgb(0, 142, 167),rgb(175, 36, 71));
}

.giftstables .dappcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    height: 400px;
    border: 2px solid white;
    margin: 20px 20px;
    width: 320px;
    height: 480px;
    border-radius: 2px;
    background: transparent;
}

.tableheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
}

.tabletitle {
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 30px;
    margin: 10px 0px;
}

.tableinfo {
    color: white;
    font-family: 'Allura';
    text-align: center;
    font-size: 18px;
}

.list {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    margin: 10px 0;
    align-items: center;
}

.listitem {
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding: 10px 0;
    margin: 5px 0px;
    border: 2px solid white;
    border-radius: 5px;
}

.itemline {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.linelabel {
    color: white;
    min-width: 80px;
    font-size: 20px;
    font-family: "Great Vibes";
}

.linedata {
    word-wrap: break-word;
    font-style: italic;
    color: white;
    max-width: 180px;
    font-family: "Montserrat";
    font-size: 14px;
}

.recorddate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datelabel {
    color: rgb(211, 211, 211);
    margin-right: 3px;
    font-size: 15px;
    font-style: italic;
    padding-left: 160px;
}

.date {
    color: rgb(199, 199, 199);
    font-style: italic;
    font-size: 12px;
}

.sendgift {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 500px;
    border: 1px solid white;
}

.cardheading {
    color: white;
    font-family: "Allura";
    font-size: 80px;
}

.card {
    width: 450px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardline {
    margin: 10px 0px;
}

.cardlinelabel {
    margin: 5px 0;
    color: white;
    font-family: 'Montserrat';
}

.cardlineinput {
    width: 360px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px 8px;
    font-family: 'Montserrat';
    font-style: italic;
    color: white;
    background: transparent;
}

.sendbtn {
    cursor: pointer;
    margin: 10px auto;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    background: linear-gradient(to bottom right, rgba(101, 101, 255, 0.76), cyan);
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.sendbtn:hover {
    background: linear-gradient(to bottom right, rgb(6, 6, 255), cyan);
}

