.recentgift {
    position: relative;
    top: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 25px;
    margin-bottom: 30px;
    padding: 2px 15px;
    padding-left: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: url('./../../images/handcursor.svg'), auto;
    transition: top 0.25s ease-out;
}

.recentgiftline {
    cursor: url('./../../images/handcursor.svg'), auto;
    display: flex;
    align-items: center;
}

.recentgift:hover {
    top: -10px;
}

.recentgiftlabel {
    cursor: url('./../../images/handcursor.svg'), auto;
    font-size: 18px;
    min-width: 60px;
}  


.recentgiftdate {
    cursor: url('./../../images/handcursor.svg'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .rgdatelabel {
    cursor: url('./../../images/handcursor.svg'), auto;
    margin-left: 100px;
    padding-bottom: 2px;
    font-size: 11px;
  }


.recentgiftdata {
    cursor: url('./../../images/handcursor.svg'), auto;
    word-wrap: break-word;
    font-style: italic;
    font-family: 'Montserrat';
    font-size: 10px;
    max-width: 120px;
}

.recentgiftamount {
    cursor: url('./../../images/handcursor.svg'), auto;
    word-wrap: break-word;
    font-style: italic;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 10px;
    max-width: 120px;
  }

  .recentgifttoken {
    padding-left: 5px;
    cursor: url('./../../images/handcursor.svg'), auto;
  }

.recentgift {
    width:210px;
    height: 126px;
    background-image: url('./../../images/dailygift.png');
    box-shadow: 10px 10px 15px rgb(37, 67, 122);
    font-family: 'Great Vibes';
    font-size: 18px;
    color: white;
}