.heading {
  font-size: 80px;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 0, 157));
  background-clip: text;
  font-weight: 700;
  margin: 5px;
  color: transparent;
  font-style: italic;
}

.sendGift {
  border-radius: 10px;
  border: solid 2px white;
  margin-top: 10px;
  width: 300px;
  background: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(255, 77, 160));
  height: 37px;
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.label {
  color: rgb(255, 125, 216);
  font-size: 14px;
  padding: 0px 50px;
  text-align: left;
  font-style: italic;
  margin-left: 100px;
  margin-bottom: 5px;
}

.datafield {
  align-items: center;
  margin-top: 15px;
}

.addinput{
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 400px;
  height: 25px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(81, 40, 85, 0.137));
  color: white;
  margin-bottom: 10px;
  font-style: italic;
}
.amtinput {
  position: relative;
  border-radius: 10px;
  left: -100px;
  border: 1px solid white;
  width: 200px;
  height: 25px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(81, 40, 85, 0.137));
  color: white;
  margin-bottom: 10px;
  font-style: italic;
}
.msginput{
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(81, 40, 85, 0.137));
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.subhead {
  color: white;
  font-family: "Great Vibes";
  font-size: 20px;
  margin-top: 30px;
}
.App {
  border-radius: 10px;
  width: 700px;
  height: 520px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  background-image: url('./images/wrap.png');    
}


.outerbox {
  position: relative;
  border-radius: 10px;
  border: 5px solid white;
  width: 53vw;
  height: 85vh;
  margin: auto;
  margin-top: 50px;
}
